.big {
    width: auto;
}

.small {
    width: 28.57%;
    padding-bottom: 28.57%;
    border-radius: 30px;
    background-color: orange;
    float: left;
    margin-left: 3.57%;
    margin-top: 3.57%;
}